output-list x%B1.16.1 y%B1.16.1 zx%B1.1.1 nx%B1.1.1 zy%B1.1.1 ny%B1.1.1 f%B1.1.1 no%B1.1.1 out%B1.16.1 zr%B1.1.1 ng%B1.1.1;
set x (),
set y (),
set zx (),
set nx (),
set zy (),
set ny (),
set f  (),
set no (),
eval,
output;